<section class="d-flex flex-column">
    <div id="page-content">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand">BookStore</a>
           <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" href="vendorMain.html">Home</a></li>
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                          Your Shop
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="vendorBookshelf.html">Your Bookshelf</a></li>
                          <li><a class="dropdown-item" href="addNewBook.html">Add New Book</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Orders</a></li>
                        </ul>
                      </div>
                </ul>
                <ul>
                    <a class="btn btn-outline-dark" href="shopMain.html" role="button">Log out</a>
                </ul>
            
            </div>
        </div>
    </nav>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5justify-content-left">
            <div class="col mb-5">
                <div class="card"  type="button">
                 <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h3 class="fw-bolder">Harry Potter - Order of the Phoenix</h3>
                            <!-- Product author-->
                            <h5 >J. K. Rowling</h5>
                            <!--Product genre-->
                            <p>Fantasy</p>
                             <!--Product comment-->
                            <p>The book is in good condition</p>
                            <!-- Product price-->
                            <p class="fw-bolder">10.00€</p>
                            <a class="btn btn-outline-dark btn-lg" type="button" href="#!">Add To Cart</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    </div>
    <!-- Footer details-->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BookStore 2022</p></div>
    </footer>

</section>