<section class="d-flex flex-column">
    <div id="page-content">
    <!-- Navigation Bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand">BookStore</a>
           <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" href="/shop/:userName">Home</a></li>
                  <li class="nav-item"><a class="nav-link active" href="/bookshelf/:userName">Your Bookshelf</a></li>
                  <li class="nav-item"><a class="nav-link active" href="/addNew/:userName">Add New</a></li>
                </ul>
                <ul>
                    <a class="btn btn-outline-dark" href="/shop" role="button">Log out</a>
                </ul>
            
            </div>
        </div>
    </nav>
    
    

    <section>
        <div class="container py-5" >
          <div class="row d-flex justify-content-center align-items-center">
              <h1 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;">Add New Book</h1>
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 2rem;">
                <div class="row g-0">
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">

                        <form>

                            <div class="form-floating mb-4">
                              <input class="form-control form-control-lg" id="floatingInput" [(ngModel)]="bookname" placeholder="Book Name">
                              <label for="floatingInput" >Book Name</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input class="form-control form-control-lg" id="floatingInput" [(ngModel)]="author" placeholder="Author">
                                <label for="floatingInput" >Author</label>
                              </div>

                            <div class="form-floating mb-5">
                              <select class="form-control form-control-lg" id="floatingSelect" [(ngModel)]="genre">
                                <option>Select</option>
                                <option>Action and Adventure</option>
                                <option>Classics</option>
                                <option>Comic Book or Graphic Novel</option>
                                <option>Detective and Mystery</option>
                                <option>Fantasy</option>
                                <option>Historical Fiction</option>
                                <option>Horror</option>
                                <option>Literary Fiction</option>
                                <option>Romance</option>
                                <option>Science Fiction (Sci-Fi)</option>
                                <option>Short Stories</option>
                                <option>Suspense and Thrillers</option>
                                <option>Women's Fiction</option>
                                <option>Biographies and Autobiographies</option>
                                <option>Cookbooks</option>
                                <option>True Crime</option>
                                <option>History</option>
                                <option>Memoir</option>
                                <option>Poetry</option>
                                <option>Self-Help</option>
                              </select>
                              <label for="floatingSelect">Genre</label>
                            </div>

                            <div class="form-floating mb-4">
                                <textarea class="form-control" [(ngModel)]="comment" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Comments</label>
                              </div>

                            <div class="form-floating mb-4">
                                <input class="form-control form-control-lg" [(ngModel)]="price" id="floatingInput" placeholder="Price" type="number" min="1" step="any">
                                <label for="floatingInput" >Price</label>
                              </div>
                            
                            
                            <div class="pt-1 mb-4">
                                <a class="btn btn-dark btn-lg btn-block" type="button" href="/bookshelf/:userName">Add Book</a>
                              </div>
                          </form>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="../../assets/images/new.jpg"
                      alt="login form" class="img-fluid" style="border-radius: 0 1rem 1rem 0;" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- Footer details-->
    <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BookStore 2022</p></div>
    </footer>

</section>