<div class="d-flex flex-column">
    <div id="page-content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand">BookStore</a>
           <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" routerLink="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/shop">Shop</a></li>
                </ul>
                <ul>
                    <a class="btn btn-outline-dark" role="button" routerLink="/login">Login</a>
                </ul>
            
            </div>
        </div>
    </nav>
    <div class="picture-container">
        <header >
            <img src="../../assets/images/mainBook.jpg" class="img-responsive" width=100% >
            <blockquote>
  
                    <p class="quote" >“You are not done with a book until you pass it to another reader.”</p>
                    <footer class="author"> - Donalyn Miller</footer>
            </blockquote>    
        </header>
    </div>
    <section class="py-5">
        <div class="text-container">
        <div>
            <p style="letter-spacing: 1px;">Does your bookshelf collect dust because you've read all the books several times already? 
                New books are expensive and you don't know what to read next? 
                Or would you like to meet other people who are interested in the same books as you? 
                If it's you, you're in the right place. 
                BookStore brings together all book enthusiasts who want to sell or buy books. 
                Just start exploring already today!</p>
        </div>
        <div class="container px-4 px-lg-5">
            <a class="btn  btn-lg btn-outline-dark"  role="button" routerLink="/shop">Get Started</a>
        </div>
                   
        </div>
    </section>
  </div>
    <footer id="footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; BookStore 2022</p></div>
    </footer>
  </div>